---
import { getCollection, getEntryBySlug } from 'astro:content';
import { AstroError } from 'astro/errors';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
---

<html lang="es">
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <article>
      {post.body}
    </article>
  </body>
</html>
