---
import posts from '../../data/posts.json';

export async function getStaticPaths() {
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{post.title}</title>
  </head>
  <body>
    <h1>{post.title}</h1>
    <p>{post.description}</p>
    <article>{post.content}</article>
  </body>
</html>
