---
import posts from '../../../posts.json';

export async function getStaticPaths() {
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
---

<article>
  <h1>{post.titulo}</h1>
  <p>{post.contenido}</p>
</article>
