---
import BaseLayout from '../../layouts/BaseLayout.astro';
import posts from '../../data/posts.json';
import { Astro } from 'astro';

export async function getStaticPaths() {
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<BaseLayout title={post.title}>
  <h1>{post.title}</h1>
  <p>{post.date}</p>
  <div>
    {post.content}
  </div>
</BaseLayout>
