---
import { getEntryBySlug, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { AstroError } from 'astro/errors';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;

if (!post) {
  throw new AstroError(`Post not found`, 404);
}
---

<Layout>
  <h1>{post.data.title}</h1>
  <article class="prose">
    {post.body}
  </article>
</Layout>
