---
import posts from '../data/posts.json';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Blog de Entrevistas</title>
  </head>
  <body>
    <h1>Blog de Entrevistas</h1>
    <ul>
      {posts.map(post => (
        <li><strong>{post.titulo}</strong> - {post.autor}</li>
      ))}
    </ul>
  </body>
</html>
